{% extends "base.html" %}

{% block start %}
<div class="container mt-5">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    
      
    
      <a href="/logout/" class="btn btn-outline-success" type="submit"> LOGOUT</a>
    </nav>

        
      
    <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>ADD RECIPE</h2>
        <hr>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Recipe Name</label>
          <input name="recipe_name" type="text" class="form-control" required >
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1"  class="form-label">Recipe Description</label>
          <textarea class="form-control" name="recipe_description" required></textarea> 
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Recipe Image</label>
            <input name ="recipe_image" type="file" class="form-control" >
        <button type="submit" class="btn btn-success">ADD RECIPE</button>
      </form>
      <hr>
      <div class="mt-5">

        <div class="mx-auto col-6">
          <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Search Recipe</label>
            <input name="search" type="text" class="form-control"  >
            </div>
            <button type="submit" class="btn btn-success">SEARCH RECIPE</button>
          </form>
          </div>
        
        </div>

         

          


        
      




      <table class="table mt-5">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">RECIPE_NAME</th>
            <th scope="col">RECIPE_DESCRIPTION</th>
            <th scope="col">RECIPE_IMAGE</th>
            <th scope="col">ACTIONS</th>
          </tr>
        </thead>
        <tbody>
            {% for recipe in recipes %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{recipe.recipe_name}}</td>
            <td>{{recipe.recipe_description}}</td>
            <td>
                <img src="/media/{{recipe.recipe_image}}" style="height:100px">
            </td>
            <td>
                <a href="/delete_recipe/{{recipe.id}}" class="btn btn-danger m-2">DELETE</a>
                <a href="/update_recipe/{{recipe.id}}" class="btn btn-success">UPDATE</a>
            </td>

        </tr>
          {% endfor %}
          
        </tbody>
      </table>
</div>
{% endblock %}